:root {
  --active-color: #2196f3;
  --main-text-color: #000;
  --text-color: #212121;
  --main-back-color: #ffffff;
  --section-color: #2e2f42;
  --address-color: #ffffff99;
  --team-back-color: #f5f4fa;
  --sub-text-color: #757575;
  --border-color: #eee;
  --default-icon-color: #afb1b8;
  --icon-back-color: #434352;
  --button-color: #4d5ae5;
  --footer-text-color: #e7e9fc;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.page {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  background-color: var(--main-back-color);
  margin: 0;
  color: var(--main-text-color);
}

.container {
  width: 1158px; /* + 30px of paddings */
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0;
}

.section-priority {
  padding-bottom: 0;
}

.hero-title {
  font-size: 56px;
  color: var(--main-back-color);
  font-weight: 700;
  text-align: center;
  max-width: 696px;
  line-height: 1.3;
}

.button {
  color: var(--main-back-color);
  background-color: var(--button-color);
  padding: 10px 32px;
  margin-top: 30px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  line-height: 1.88;
}

.filter-button {
  color: var(--button-color);
  background-color: var(--team-back-color);
  padding: 10px 32px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  line-height: 1.6;
  margin-right: 8px;
}

.filter-button:hover {
  background-color: var(--button-color);
  color: var(--main-back-color);
  box-shadow: 0px 3px 1px rgb(0 0 0 / 14%);
}

.list {
  list-style: none;
}

.list-images {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 30px;
}

.list-image {
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  width: 360px;
}

.list-image:hover {
  box-shadow: 0px 3px 4px rgb(0 0 0 / 14%);
}

.title-subtitle-block {
  padding: 30px;
}

.list-priority {
  display: flex;
  justify-content: center;
}

.priority-item {
  margin-right: 30px;
}

.text {
  color: var(--sub-text-color);
  line-height: 1.7;
}
.stuff-info {
  padding: 30px;
}

.permanent-clients-title {
  margin-bottom: 50px;
}

.card-block {
  display: flex;
  list-style: none;
}

.permanent-clients-card {
  margin-right: 30px;
  fill: var(--default-icon-color);
}

.permanent-clients-card:hover .card-icon_small {
  fill: var(--button-color);
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--team-back-color);
  border-radius: 4px;
  width: 270px;
  height: 120px;
}

.card_small {
  width: 170px;
  height: 92px;
  background-color: var(--main-back-color);
  border: 1px solid var(--border-color);
}

.card_small:hover,
.card_small:focus {
  border: 1px solid var(--active-color);
  cursor: pointer;
}

.card-icon {
  max-width: 70px;
  max-height: 70px;
  /* fill: var(--default-icon-color); */
}

.card-icon_small {
  max-width: 94px;
  max-height: 52px;
}

.card-icon_small:hover {
  fill: var(--active-color);
}

.list-title {
  font-size: 14px;
  color: var(--text-color);
  line-height: 1.1;
  margin-bottom: 10px;
  margin-top: 30px;
}

.title {
  font-size: 36px;
  text-align: center;
  color: var(--text-color);
  line-height: 1.1;
}

.business-block {
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office\ 1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 0;
  max-width: 1600px;
  margin: 0 auto;
}
.business-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* --- */
.header {
  padding: 24px 0;
  background-color: var(--main-back-color);
  border-bottom: 1px solid var(--border-color);
}

.header-link {
  display: flex;
  align-items: center;
}

.header-link:hover {
  cursor: pointer;
}

.link:hover {
  color: var(--button-color);
}

.header-icon {
  max-width: 16px;
  max-height: 16px;
  margin-right: 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
}

.nav-left {
  display: flex;
  align-items: center;
  color: var(--text-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-decoration: none;
  margin-right: 93px;
  line-height: 1.1;
}

.logo-1 {
  color: var(--button-color);
}

.logo-2 {
  color: var(--main-text-color);
}

.logo-3 {
  color: var(--main-back-color);
}

/* --- */
.links {
  list-style: none;
  display: flex;
  color: var(--text-color);
  line-height: 1.1;
}

.link {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  margin-right: 50px;
  line-height: 1.1;
}

.team-block {
  background-color: var(--team-back-color);
  font-size: 16px;
  line-height: 1.1;
}

.stuff-card {
  flex-basis: calc((100%-90px) / 4);
  background-color: var(--main-back-color);
  box-shadow: 0px 4px 3px -1px rgb(0 0 0 / 14%);
  border-radius: 0px 0px 4px 4px;
}

.stuff-title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  text-align: center;
}

.stuff-info-prof {
  text-align: center;
}

.contacts-block {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.contacts-block-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--button-color);
  margin: 10px;
}

.contacts-block-item:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.1);
}

.contacts-block-item_transparent {
  background-color: var(--icon-back-color);
  fill: var(--main-back-color);
}
.contacts-block-item_transparent svg {
  fill: var(--main-back-color);
}
.contacts-block-link {
  width: 16px;
  height: 16px;
}
.contacts-block-link_big {
  width: 24px;
  height: 24px;
}
.contacts-block-icon {
  max-width: 16px;
  max-height: 16px;
  fill: var(--main-back-color);
}
.contacts-block-icon_big {
  max-width: 24px;
  max-height: 24px;
}
.contacts-block-icon:hover {
  fill: var(--main-back-color);
}

.footer {
  background-color: var(--section-color);
  padding: 60px 0;
}

.footer-wrapper {
  display: flex;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-link {
  margin: 9px 0 0 0;
  list-style: none;
  line-height: 1.7;
}

.footer-links :nth-child(2n) {
  margin-bottom: 9px;
}

.footer-contacts {
  margin-left: 70px;
}

.footer-contacts-title {
  color: var(--main-back-color);
  font-size: 16px;
  font-weight: 500;
}

.footer-info-text {
  max-width: 264px;
  margin-top: 16px;
  font-size: 16px;
  color: var(--footer-text-color);
  line-height: 24px;
}

.navigation {
  color: var(--main-back-color);
}

.good-title {
  font-size: 18px;
  line-height: 2;
}

.buttons {
  margin-top: 94px;
}

.buttons-content {
  display: flex;
  justify-content: center;
}

.goods {
  margin: 50px 0 94px 0;
}

.list-goods {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

a {
  text-decoration: none;
}
